<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="./favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#EFEFEF"/>
    <meta name="description" content="Restaurant Catalog">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="./app.webmanifest">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
    <title>Restopedia | Your Restorant Dictionary</title>
  </head>
  <body>
    <a href="#gridContent" class="skip-link">Menuju ke konten</a>
    <header class="header">
      <button id="menu" class="header__menu" aria-label="navigation-menu">☰</button>
      <div class="header__inner">
        <h1 class="header__title">RESTOPEDIA</h1>
      </div> 
    </header>
    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="/">Home</a></li>
        <li class="nav__item"><a href="#/favorites">Favorite</a></li>
        <li class="nav__item"><a href="https://api.whatsapp.com/send/?phone=%2B6282363021811&text&type=phone_number&app_absent=0">Contact Us</a></li>
      </ul>
    </nav>
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">To Be Come A Food Traveler by Lie's Blog</h1>
        <p class="hero__tagline">Memilah sebelum memilih tujuan restaurant mu</p>
      </div>
    </div>
    <main id="mainContent" tabindex="0">
      
    </main>
    <footer>
      <ul >
        <li><a href="#">Help</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <h2>Copyright 2022 &copy; - Lie's Blog</h2>
    </footer>
  </body>
</html>
